Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

RewriteRule ^([a-zA-Z0-9]+)$ ./index.php?c=$1 
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ ./index.php?c=$1&a=$2 
RewriteRule ^([a-zA-Z0-9]+)/edit/([a-zA-Z0-9]+)$ ./index.php?c=$1&a=edit&id=$2 
RewriteRule ^([a-zA-Z0-9]+)/delete/([a-zA-Z0-9]+)$ ./index.php?c=$1&a=delete&id=$2 
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/article/([a-zA-Z0-9]+)$ ./index.php?c=$1&a=$2&idArticle=$3 
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/category/([a-zA-Z0-9]+)$ ./index.php?c=$1&a=$2&idCategory=$3 

ErrorDocument 404 /app/view/error/404.php
